body {background-color: rgb(255, 240, 173);
    font-family: 'IBM Plex Mono', monospace;
}
details summary { 
    cursor: pointer;
  }
a {
    text-decoration: none;
}
#presentation {
    width: 1000px;
    height: 240px;
    box-sizing: border-box;
}
#jurosResultado{
    overflow-y: scroll;
    width: 400px;
    height: 250px;
    background-color: rgb(225, 220, 173)
}
.container{ /* texto dentro dos cartoes */
    padding: 5px;
}
.card {
    display: block;
    width: 240px ;  
    box-shadow: -5px 5px 22px -1px rgba(0,0,0,0.77);
    border-radius: 7px;
    transition: 0.3s;
    
}
.card:hover {
    box-shadow: -5px 5px 22px 5px rgba(0,0,0,0.77);
}
#tobby {
    display: block;
    border-radius: 7px 7px 0 0;
    padding: 0px 0px;
    margin-left: 0px;
    width: 240px ;
}
#calculadoras {
    padding: 10px;
}
